.home{
    background-image: url("https://us.123rf.com/450wm/sn333g/sn333g1901/sn333g190100400/115836023-stem-education-vector-colorful-frame-with-dark-background.jpg?ver=6");
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center; 
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    /* color: white; */
}
.box{
    width:40%;
    /* background-color: white; */
    text-align: center;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
    padding-top: 12%;
    color:wheat;
}   

.box h1{
    margin-bottom: 40px;
}

.boxG{
    width:50%;
    /* background-color: white; */
    text-align: center;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10%;
    color:wheat;
}

.boxG h1{
    margin-bottom: 40px;
}

.boxG h6{
    margin-bottom: 20px;
}

.graph-img{
    border: 1px solid grey;
}

/* .solution{
    background-color: white;
} */

.waiting-text{
    text-align: center;
    padding-top: 100px;
    color: white;
}

.loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 120px;
    height: 120px;
    margin: -76px 0 0 -76px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
  
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.heading{
    font-family: 'Architects Daughter', cursive;
    font-size: 100px;
    padding-bottom: 0;
    margin-bottom: 0;
    color: white;
}   

.white_text{
    color: white;
}

@media only screen and (max-width: 600px) {
    .box {
        color: white;
        /* width: 70%; */
        padding-top: 60%;
    }
    .boxG{
        color: white;
        padding-top: 50%;
        width: 80%;
    }
  }